<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='admin_dashboard_styles.css') }}"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <header>
      <div class="navbar">
        <div class="logo">
          <img
            src="{{ url_for('static', filename='logo.png') }}"
            alt="Logo"
            class="logo-img"
          />
          <span class="brand-name">Volunteer Management Service</span>
        </div>
        <!-- Admin Dashboard Navbar -->
        <nav>
          <ul>
            <li>
              <a href="{{ url_for('admin.view_volunteers') }}"
                >View Volunteers</a
              >
            </li>
            <li>
              <a href="{{ url_for('admin.view_events') }}">View Events</a>
            </li>
            <li>
              <a href="{{ url_for('admin.create_event') }}">Create Event</a>
            </li>
            <li><a href="{{ url_for('admin.admin_logout') }}">Logout</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Main Content Section -->
    <main>{% block content %} {% endblock %}</main>

    <!-- Footer Section -->
    <footer>
      &copy; 2025 Volunteer Management Service. All rights reserved.
    </footer>
  </body>
</html>
